<!DOCTYPE html>
<html lang="en">
<head>

 {{>headerlinks}}

</head>

<body>
    {{>navbar}}

     <!--main header-->
   <div class = "container-fluid main_header">
     <div class = "row ">
        <div class = "col-md-10 col-12 mx-auto">
            <div class="row row1">
             <!--left side div-->
             <div class = "col-md-4 col-12 main_header_left">
              <p>This is The index page for the student acknowledgement.</p>
              <h1>Get the latest<span class="text-clr">Required </span> Info of Student Data</h1>
              
             </div> 
             <!--Middle div -->
             <div class = "col-md-4 col-12 main_header_left">
              <p>This is The index page for the student acknowledgement.</p>
              <h1>Get the latest<span class="text-clr">Required </span> Info of Student Data</h1>
              
             </div> 
             <!--right side div-->
              <div class = "col-md-4 col-12 main_header_left">
              <p>This is The index page for the student acknowledgement.</p>
              <h1>Get the latest<span class="text-clr">Required </span> Info of Student Data</h1>
              
            </div> 

            </div>
        </div>
    </div>
</div>
    
    {{>footer}}
</body>
</html>